body {
    background-color: #000000;
    color:white;
}
.header{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 3%;
    /*position: absolute;
    top: 8%;*/
    
}
.MainPages{
    text-align:center;
}

#TopLogo{
    width:15%;
    height: auto;
    vertical-align: left;
}
